.deckInfo {
  float: left;
  padding: 1em;
  border: 8px solid #82693b;
  font-family: "MedievalSharp", cursive;
  color: #82693b;
  overflow: hidden;
  overflow-y: scroll;
  height: 600px;
  width: 300px;
  margin-top: 4em;
}

.deckInfo::-webkit-scrollbar {
  width: 0 !important;
}

.deckNaming {
  font-family: "MedievalSharp", cursive;
  color: #82693b;
  font-size: 23px;
  border: 8px solid #82693b;
  background-color: #010101;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 1em;
}

/* Nav Bar Styles */
.nav-bar {
  background-color: #010101;
  border-bottom: 2px solid #82693b;
}

.nav-brand {
  height: 50px;
  width: 50px;
  margin-left: 25px;
}

.nav-brand:hover {
  animation: pulse 0.75s !important;
  animation-iteration-count: 1s !important;
  scale: 2;
}

.nav-links-style {
  font-family: "Dark Crystal" !important;
  color: #82693b !important;
  font-size: 25px !important;
}

.nav-links-style:hover {
  color: #82693b7e !important;
}

/* Deck Styles */

/* .deck-content-wrapper {
  margin-left: 150px;
} */

.deck-container {
  padding-top: 50px;
}

/* Card styles */

.card-img {
  /* background-color: #010101; */
  border: 4px solid #82693b;
}
.card-body-styles {
  font-family: "Dark Crystal";
  font-size: 1vw;
  text-align: center;
  color: #82693b;
  background-color: #010101;
  border: 4px solid #82693b;
}

.card-btn {
  color: #010101;
  background-color: #82693b;
  border: 8px solid #010101;
  border-radius: 25px;
}

.card-btn:hover {
  animation: pulse 1s !important;
  animation-iteration-count: 1s !important;
  box-shadow: -2px 7px 5px 1px #82693b86 !important;
}

.card-btn:last-child {
  margin-top: 5px;
}

.add-btn {
  display: flex;
  justify-content: center;
  margin-left: 10px;
}

/* Bottom Nav and Buttons */
.arrow-container {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.arrow-btn {
  background: transparent;
  border: none;
}

.arrow-btn:last-child {
  margin-left: 5px;
}

.arrow-btn:hover {
  animation: shake 2s !important;
  animation-iteration-count: infinite !important;
}

.arrow-btn:focus {
  outline: 0;
}

.arrow-icon {
  color: #82693b;
  font-size: 80px;
}

.arrow-icon:active {
  color: #010101;
}

.save-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-right: 25px;
  /* margin: 0 auto; */
}

.bottom-btn {
  margin-left: 20px;
  font-family: "Dark Crystal";
  font-size: 25px;
  color: #82693b;
  background-color: #010101;
  border: 8px solid #82693b;
  text-align: center;
  height: 50px;
  width: 200px;
}

.bottom-btn:active {
  color: #010101;
  background-color: #82693b;
  border: 8px solid #010101;
}

.bottom-btn:focus {
  outline: 0;
}

.bottom-btn:hover {
  animation: pulse 1s !important;
  animation-iteration-count: 1s !important;
  box-shadow: 0 12px 6px -6px #82693b4d !important;
}

.bottom-btn:last-child {
  margin-left: 7px;
}
