@font-face {
  font-family: "Dark Crystal";
  src: 
    /* Modern Browsers */ url("./assets/fonts/dark-crystal/dc_s.ttf")
    format("truetype");
}
.section-mgt {
  background-image: url(./assets/img/mgt-bg.jpg);
  background-position: cover;
  height: 100vh;
}

.logo {
  height: 150px;
  width: 150px;
}
/* login page styles */

.brand-container {
  display: flex;
  justify-content: center;
  flex-flow: column;
  padding-top: 25px;
}

.mgt-h1 {
  font-family: "Dark Crystal";
  color: #82693b;
  text-align: center;
}

.logo-login {
  margin: 0 auto;
}
