body {
  background-image: url(./assets/img/mgt-bg.jpg);
}

@font-face {
  font-family: "Dark Crystal";
  src: 
      /* Modern Browsers */ url("./assets/fonts/dark-crystal/dc_s.ttf")
    format("truetype");
}
.section-mgt {
  background-image: url(./assets/img/mgt-bg.jpg);
  background-position: cover;
  height: 100vh;
}

.logo {
  height: 150px;
  width: 150px;
}
/* login page styles */

.brand-container {
  display: flex;
  justify-content: center;
  flex-flow: column;
  padding-top: 25px;
}

.mgt-h1 {
  font-family: "Dark Crystal";
  font-size: 100px;
  color: #82693b;
  text-align: center;
  padding-top: 35px;
  /* background-color: #010101;
  border-radius: 50px; */
}

.mgt-small{
  font-family: "Dark Crystal";
  font-size: 35px;
  color: #82693b;
  text-align: center;
  padding-top: 35px;
}

.form-h1 {
  font-family: "Dark Crystal";
  font-size: 20px;
  color: #82693b;
  text-align: center;
  margin-bottom: 20px;
  font-size: 48px;
  border-bottom: 2px solid #82693b;
}

.form-label {
  font-family: "Dark Crystal";
  font-size: 30px;
  color: #82693b;
  text-align: center;
}

.logo-login {
  margin: 0 auto;
}

.form-container {
  background-color: #010101;
  border: 8px solid #82693b;
  padding: 20px;
  margin: 25px auto 0 auto;
  width: 400px;
}

input:focus {
  outline: 0 !important;
}

.input-styles:focus {
  outline: 0 !important;
}

.btn-wrapper {
  display: flex;
  justify-content: center;
  margin: 50px 0 0 0;
}

.form-btn {
  font-family: "Dark Crystal";
  font-size: 25px;
  color: #82693b;
  background-color: #010101;
  border: 8px solid #82693b;
  text-align: center;
  padding: 5px 20px 40px 20px;
  height: 40px;
  width: auto;
}

.form-btn:last-child {
  margin-left: 20px;
}

.form-btn:focus {
  outline: 0;
}

.form-btn:hover {
  animation: shake 2s;
  animation-iteration-count: infinite;
  box-shadow: 0 12px 6px -6px #82693b4d;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

/* Flip test styles */
.flip-container {
  display: flex;
  justify-content: center;
  padding: 150px 0 0 0;
}

.flip-img {
  height: 300px;
  width: 300px;
}

/* media queries 

/* login */
@media only screen and (min-width: 375px) and (max-width: 667px) {
  .logo {
    height: 100px;
    width: 100px;
  }

  .mgt-h1 {
    font-size: 3rem;
  }

  .form-container {
    width: 350px;
  }

  .form-btn {
    font-size: 1.3rem;
  }
}
